html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 160px;
  align-self: center;
  
  text-align: center;

  font-size: 1.125rem;
  color: white;
  text-shadow: 4px 4px 4px black;
  
  border-radius: 10%;
  border: 1px solid  #b30000;

  background: linear-gradient( to top left, 
    rgba(0, 0, 0, 0.2) 0%, 
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0) 100%);
  
    background-color: red;

}